<div class="hr-divider m-y-md">
  <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
    <li class="active" role="presentation">
      <a href="#sales" role="tab" data-toggle="tab" aria-controls="sales">基于$1K的增长</a>
    </li>
    <li role="presentation">
      <a href="#inventory" role="tab" data-toggle="tab" aria-controls="inventory">月数据柱状图</a>
    </li>
    <li role="presentation">
      <a href="#profit" role="tab" data-toggle="tab" aria-controls="profit">基金构成</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="sales">
    <div class="ex-line-graphs">
       <canvas
        class="ex-line-graph"
        width="600" height="400"
        data-chart="line"
        data-scale-line-color="transparent"
        data-scale-grid-line-color="rgba(255,255,255,.05)"
        data-scale-font-color="#a2a2a2"
        data-labels= "<%= dataLabel %>"
        data-value="[{fillColor: 'rgba(28,168,221,.03)', data: <%= graphData %> }]">
      </canvas>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="inventory">
    <div class="ex-line-graphs">
      <canvas
        class="ex-line-graph"
        width="600" height="400"
        data-chart="bar"
        data-scale-line-color="transparent"
        data-scale-grid-line-color="rgba(255,255,255,.05)"
        data-scale-font-color="#a2a2a2"
        data-labels="<%= barLabel %>"
        data-value="[{ label: 'First dataset', data: <%= barTwoData %> }, { label: 'Second dataset', data: <%= barOneData %> }]">
      </canvas>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="profit">
    <div class="row ex-graphs text-center">
      <div class="col-sm-4">
        <div class="c-w-lg m-x-auto">
          <canvas
            class="ex-graph"
            width="200" height="200"
            data-chart="doughnut"
            data-segment-stroke-color="#222"
            data-value="[{ value: 230, color: '#1ca8dd', label: '基金' }, { value: 130, color: '#1bc98e', label: '基金' }]">
          </canvas>
        </div>
        <strong class="text-muted">基金</strong>
        <h3>基金</h3>
      </div>
      <div class="col-sm-4">
        <div class="c-w-lg m-x-auto">
          <canvas
            class="ex-graph"
            width="200" height="200"
            data-chart="doughnut"
            data-segment-stroke-color="#222"
            data-value="[{ value: 330, color: '#1ca8dd', label: '基金' }, { value: 30, color: '#1bc98e', label: '基金' }]">
          </canvas>
        </div>
        <strong class="text-muted">基金</strong>
        <h3>基金</h3>
      </div>
      <div class="col-sm-4">
        <div class="c-w-lg m-x-auto">
          <canvas
            class="ex-graph"
            width="200" height="200"
            data-chart="doughnut"
            data-segment-stroke-color="#222"
            data-value="[{ value: 100, color: '#42a5f5', label: '基金' }, { value: 260, color: '#1bc98e', label: '基金' }]">
          </canvas>
        </div>
        <strong class="text-muted">基金</strong>
        <h3>基金</h3>
      </div>
    </div>
  </div>
</div>
