<tr>
        <td class="aligncenter"><a href="/users/fdetail?fundid=<%= addrowdata[0] %>"><%= addrowdata[1] %></a></td>
        <td class="aligncenter"><%= addrowdata[3] %>%</td>
        <td class="aligncenter"><%= addrowdata[2] %>%</td>
        <td class="aligncenter">
               <div class="input-with-icon" style="width: 150px">
      	       <input class="input form-control" name="<%= addrowdata[0] %>" type="text" value="<%= addrowdata[4] %>" >
               <span class="icon icon-credit"></span>
              </div>
        </td >
        <td><button type="button" class="btn btn-danger remove show_tip">删除</button></td>	
</tr>

