<tr>
        <td class="aligncenter"><%= addrowdata[1] %></td>
        <td class="aligncenter"><%= addrowdata[3] %>%</td>
        <td class="aligncenter"><%= addrowdata[2] %>%</td>
        <td class="aligncenter">
               <input id="inputdefault" name="<%= addrowdata[0] %>" type="text" value="<%= addrowdata[4] %>" width="50"/>
        </td >
        <td><button type="button" class="btn btn-danger remove show_tip">X</button></td>

</tr>

