

 <form action="/users/searchfun" method="get" class="form-inline searchFun m-b">
          <div class="input-with-icon" id="prefetch">
            <input class="typeahead form-control" type="text" id="fundname" name="fundname" placeholder="添加基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
          <button type="button submit" class="btn btn-sm btn-primary" >GO!</button>
 </form>


<form action="addfundtocombo" method="post" id="addfund" class="addfund" enctype='application/json' onsubmit="return combocheckForm(this);">
<div class="table-responsive">
  <table class="table" id="combfund_remove">
     <thead>
      <tr>
        <th class="aligncenter">
         基金名
        </th>
        </th>
        <th class="aligncenter">
          全年回报
        </th>
        <th class="aligncenter">
          上月回报
        </th>
	 <th class="aligncenter">
          调整金额
	</th>
	 <th class="aligncenter">
           操作
        </th>
      </tr>

    </thead>

    <tbody>
	 <% comFunData.forEach(function(row) { %>
	 <tr>
        <td class="aligncenter"><a href="/users/fdetail?fundid=<%= row[0] %>"><%= row[1] %></a></td>
        <td class="aligncenter"><%= row[3] %>%</td>
        <td class="aligncenter"><%= row[2] %>%</td>
        <td class="aligncenter">
              <div class="input-with-icon" style="width: 150px">
      	       <input class="input form-control" name="<%= row[0] %>" type="text" value="<%= row[4] %>" >
               <span class="icon icon-credit"></span>
              </div>
        </td > 
	<td><button type="button" class="btn btn-danger remove show_tip">删除</button></td>	
      </tr>
      <% }); %>
    </tbody>
  </table>
  </div>

  <input type="hidden" name="comboid" value="<%= topData[0][0] %>">
 <button class="btn btn-primary submit addfund" type="button submit"  id="addfundtocombo" >
 <span class="icon icon-mouse"></span>
    提交确认 
</button>

</form>


