     <div class="col-xs-12 col-sm-12 col-md-12 m-b-lg" >
     <table class="table table-bordered">
    <thead>
      <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Return (in %)</th>
        <th>Assets (in $)</th>
      </tr>
    </thead>
    <tbody>
        <% tabledata.forEach(function(row) { %>
        <tr>
          <td><%= row.Year %></td>
          <td><%= row.Month %></td>
          <td><%= row.Month_Return %></td>
          <td><%= row.Assets %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
     </div>

        <div class="col-xs-6 col-sm-2 col-md-2">
      <div class="m-b">
        Year：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" name="ctadatayear" id="ctadatayear">
         <% for(var year= fundinfo[2] ; year<=2020; year++) { %>
                <%if ( year == fundinfo[2] ) { %>
                        <option selected="selected" value="<%= year %>"> <%= year %> </option>
                <% } else { %>
                        <option value="<%= year %>"> <%= year %> </option>

         <% } } %>
       </select>
      </div>
    </div>
    </div>

        <div class="col-xs-6 col-sm-2 col-md-2">
      <div class="m-b">
        Month：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" name="ctadatamonth" id="ctadatamonth">
         <% for(var month=1; month<=12; month++) { %>

                <%if ( month == fundinfo[3] ) { %>
                        <option selected="selected" value="<%= month %>"> <%= month %> </option>
                <% } else { %>
                        <option value="<%= month %>"> <%= month %> </option>

         <% } } %>
        </select>
      </div>
    </div>
    </div>

   <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Monthly Return (in %)：
      </div>
<input type="text" class="form-control m-b" id="ctadatamonret" value="" placeholder="" style="width:200px;">
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Assets (in $)：
      </div>
<input type="text" class="form-control m-b"  id="ctadataassets" value="" placeholder="" style="width:200px;">
    </div>

