     <div class="table-full">
                <div class="table-responsive">
                        <table id="example" class="table tablesorter paginated" data-sort="table">
 
	<thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll" ></th>
          <th><%= header[0] %></th>
	  <% var start = pageIndex[0] %>
          <% for(var i=start; i<start+leng; i++) { %>
            <th><%= header[i] %></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
      <% data.forEach(function(row) { %>
        <tr>
          <td><input type="checkbox" class="select-row" ></td>
          <td><a href="/users/<%= pagetype %>=<%= row[0] %>"><%= row[1] %></a></td>
          <% for(var i=start; i<start+leng; i++) { %>
            <td><%= row[i+1] %></td>
          <% } %>
        </tr>
      <% }); %>
      </tbody>

                        </table>
                </div>
        </div>

