<!DOCTYPE html>
<html lang="zh">
  <head><% include ../partials/bs_head.ejs %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mix2.css">
</head>
<body class="with-top-navbar djx-container">
  <% include ../partials/smenu2.ejs %>
  <div class="row">
  <div class="container-fluid container-fluid-spacious col-md-12 p-r-md">
  <div class="m-t m-l col-md-4 col-sm-12 col-xs-12">
  <a href="unified" class="icon icon-home" style="font-size:22px; font-weight:900;"> 专户理财</a>
  </div>
<form action="/users/text" method="get" class="form-inline navbar-form navbar-right m-t m-l col-md-8 col-sm-12 col-xs-12">
          <div class="input-with-icon" id="prefetch">
            <input class="typeahead form-control" type="text" name="fundname" placeholder="搜索基金...">
            <span class="icon icon-magnifying-glass"></span>
          </div>
          <button type="button submit" class="btn btn-sm btn-primary">GO!</button>
        </form>
</div> 
</div>   

  <div class="container-fluid container-fluid-spacious">
    <div class="dashhead m-t-md">


  <div class="dashhead-titles p-x p-b">
    <!--h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6-->
    <h2 class="dashhead-title"><%= topData[0][1] %></h2>
  </div>


  <div class="btn-toolbar dashhead-toolbar p-y">
  <form action="save" method="get" class="saveForm">
  <input type="hidden" class="form-control" name="fundid" 
        value=<%= topData[0][0] %> 
  >
  <input type="hidden" class="form-control" name="hasSaved" 
        value=<%= showSave %> 
  >
  <% if(showSave==0) { %>
    <button class="btn btn-primary btn m-l m-t saveButton" type="button submit">
  <span class="icon icon-heart"></span>
  收藏基金
  </button>
<% } if (showSave==1) { %>
   <button class="btn btn-primary btn m-l m-t saveButton" type="button submit">
  <span class="icon icon-squared-cross"></span>
  取消收藏
  </button>
<% } %>
    <button class="btn btn-primary btn m-l m-t" type="button" data-toggle="modal" data-target="#saveModal" data-backdrop="static" data-keyboard="false">
  <span class="icon icon-squared-plus"></span>
  加入组合
</button>

<a href="tel:+14155132523">
  <button class="btn btn-success m-l m-t" type="button">
  <span class="icon icon-phone"></span>
  电话申购
</button>
</a>
</form>
<div class="modal" id="saveModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <form action="add2combo" method="get" class="comboForm" onsubmit="return checkForm(this);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">加入组合</h4>
      </div>
      <div class="modal-body row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center m-b">
        <strong>把基金 <%= topData[0][1] %> 加入</strong>
        </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <select class="custom-select" name="thelist" onChange="combo(this, 'comboname')" onMouseOut="comboInit(this, 'comboname')">
          <option>新组合</option>
          <% combo.forEach(function(row) { %>
          <option><%= row %></option>
          <% }); %>
        </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
        <input type="text" class="form-control" id="comboname" name="comboname" placeholder="组合名">
        <div class="input-group m-t">
      <div class="input-group-addon">$</div>

      <input type="text" class="form-control" id="amount" name="amount" placeholder="投资额">
      <input type="hidden" class="form-control" name="fundid" value=<%= topData[0][0] %>>
    </div>
        </div>
      </div>
      <div class="modal-actions">
        <button type="button" class="btn-link modal-action" data-dismiss="modal">取消</button>
        <button type="button submit" class="btn-link modal-action comboButton">
          <strong>添加</strong>
        </button>
      </div>
    </form>
    </div>
  </div>
</div>

  </div>

    </div>

<div class="hr-divider m-t m-b-md">
  <h3 class="hr-divider-content hr-divider-heading">基本情况一览</h3>
</div>
<div class="row statcard">
  <div class="col-sm-6 col-md-3">
    <div class="statcard statcard-primary" style="background-color:transparent; padding-left:10px; padding-top:0px">
    <% include ../partials/dj-stats.ejs %>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <table class="table table-mini3">
    <tbody>
      <tr>
        <td>最低投资</td>
        <td><%= topData[0][2]/10+"万美元" %></td>
      </tr>
      <tr>
        <td>管理费用</td>
        <td><%= topData[0][3]+"%" %></td>
      </tr>
      <tr>
        <td>业绩提成</td>
        <td><%= topData[0][4]+"%" %></td>
      </tr>
    </tbody>
    </table> 
  </div>
  <div class="col-sm-6 col-md-3">
    <table class="table table-mini3">
    <tbody>
      <tr>
        <td>年化波动率</td>
        <td><%= topData[9].toFixed(2)+"%" %></td>
      </tr>
      <tr>
        <td>夏普比率</td>
        <td><%= topData[10].toFixed(2) %></td>
      </tr>
      <tr>
        <td>平均年化收益率</td>
        <td><%= topData[6].toFixed(2)+"%" %></td>
      </tr>
    </tbody>
    </table> 
  </div>
  <div class="col-sm-6 col-md-3">
    <table class="table table-mini3">
    <tbody>
      <tr>
        <td>资产规模</td>
        <td><%= (topData[2]/10000).toFixed(0)+"万美元" %></td>
      </tr>
      <tr>
        <td>最大回撤</td>
        <td><%= topData[7].toFixed(2)+"%" %></td>
      </tr>
      <tr>
        <td>普标相关性</td>
        <td><%= topData[11].toFixed(2) %></td>
      </tr>
    </tbody>
    </table> 
  </div>
</div>
<% include ../partials/bsyy_graph.ejs %>
<div class="hr-divider m-t-lg m-b-md">
  <h3 class="hr-divider-content hr-divider-heading">年度数据</h3>
</div>

  <% include ../partials/table-large15.ejs %>

  </div>

  <% include ../partials/bs_foot.ejs %>
  <script type="text/javascript">
function comboInit(thelist)
{
  comboname = document.getElementById(comboname); 
  var idx = thelist.selectedIndex;
  var content = thelist.options[idx].innerHTML;
  if(idx == 0)
    content = "";
  if(comboname.value == ""){
    comboname.value = content;
  }
}
function combo(thelist, comboname)
{
  comboname = document.getElementById(comboname);  
  var idx = thelist.selectedIndex;
  var content = thelist.options[idx].innerHTML;
  if(idx == 0)
    content = "";
  comboname.value = content;
}
$('button.saveButton').click( function() {
        $('form.saveForm').submit();
});
$('button.comboButton').click( function() {
        $('form.comboForm').submit();
});
</script>
<script type="text/javascript">
  function checkForm(form){
    if(form.comboname.value =="") {
        form.comboname.placeholder="不能为空！";
        return false;
    }
    if(isNaN(form.amount.value) || form.amount.value == "" || form.amount.value<=0) {
        form.amount.value="";
        form.amount.placeholder="数目不对！";
        return false;
    }
  }
</script>
  </body>
</html>
