<!DOCTYPE html>
<html lang="zh">
<head><% include ../partials/bs_head.ejs %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  
    <!-- Plugins CSS -->     
  <link id="extra-style" rel="stylesheet" href="/sassets/css/styles_mix2.css">
</head>

<body class="with-top-navbar djx-container" >
  <% include ../partials/smenu4.ejs %>  
  <div class="container-fluid container-fluid-spacious">
   <form class="comboForm" onsubmit="return checkProgramForm(this);">

    <div class="dashhead m-t-md">
      <div class="dashhead-titles">
      <!--h6 class="dashhead-subtitle p-b">WhaleBrokers.com</h6-->
      <h2 class="dashhead-title p-t-lg">Welcome <%=user.First_Name%>!</h2>
      </div>
    </div>
      <div class="hr-divider m-t">
      <h3 class="hr-divider-content hr-divider-heading"></h3>
    </div>

 <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Program Name：
      </div>
    <div class="flextable m-b">
      <div class="flextable-item">
        <select class="custom-select custom-select-sm" name="ctaprogname" id="ctaprogname" onchange="fetchprograminfo(this.value);">
	 <% for(var i=0; i<programname.length; i++) { %>

		<%if ( i == 0) { %>
			<option selected="selected" value="<%= fundID[i] %>"> <%= programname[i] %> </option>
		<% } else { %>
          		<option value="<%= fundID[i] %>"> <%= programname[i] %> </option>

	 <% } } %>
        </select>
      </div>
    </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Management Fee (in %)：
      </div>
<input type="text" class="form-control m-b" id="ctamanfee" value="<%= programinfo[1] %>"  placeholder="<%= programinfo[1] %>" style="width:200px;">
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Performance Fee (in %)：
      </div>
<input type="text" class="form-control m-b" id="ctaperfee" value="<%= programinfo[3] %>" placeholder="<%= programinfo[3] %>" style="width:200px;">
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Minimum Investment (in K)：
      </div>
<input type="text" class="form-control m-b" id="ctamininvest" name=="ctamininvest" value="<%= programinfo[0] %>" placeholder="<%= programinfo[0] %>" style="width:200px;">
    </div>

      <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Inception Date：
      </div>
<div class="btn-toolbar-item input-with-icon" >
  <input type="text"  class="form-control" data-provide="datepicker"  value="<%= programinfo[2] %>" placeholder="<%= programinfo[2] %>" name="inception" id="inception" >
      <span class="icon icon-calendar"></span>
    </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4">
      <div class="m-b">
        Manager Name：
      </div>
<input type="text" class="form-control m-b" id="ctamanname" value="<%= programinfo[4] %>" placeholder="<%= programinfo[4] %>" style="width:200px;">
    </div>


<div class="col-xs-12 col-sm-12 col-md-12">
      <div class="m-b">
        Program Description：
      </div>
<textarea class="form-control" rows="5" id="ctafunddes"><%= programinfo[5] %></textarea>
    </div>


<div class="form-group text-right col-xs-12 col-sm-12 col-md-12 m-y-md">
<button type="button submit" class="btn btn-lg btn-danger m-r-md" id="ctadatadelete" style="width:120px;">Delete</button>
      <button type="button" class="btn btn-lg btn-primary" style="width:120px;" id="ctaprogupdate">Update</button>
  </div>
</form>
  </div>

  <% include ../partials/bs_cta_foot.ejs %>
</body>
</html>
